<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>CabinetGrotesk-Extrabold.otf</string>
		<string>CabinetGrotesk-Regular.otf</string>
		<string>CabinetGrotesk-Thin.otf</string>
		<string>CabinetGrotesk-Medium.otf</string>
		<string>CabinetGrotesk-Light.otf</string>
		<string>CabinetGrotesk-Extralight.otf</string>
		<string>CabinetGrotesk-Bold.otf</string>
		<string>CabinetGrotesk-Black.otf</string>
	</array>
</dict>
</plist>
